* {
    padding: 0px;
    margin: 0px;
}

.main {
    display: flex;

}

.mainbar {
    justify-content: space-around;
}

.top_bar {

    justify-content: space-around;
    background: #316DC3;
    color: white;
    padding: 8px;
}

@media only screen and (max-width: 600px) {
    .top_bar {
        flex-wrap: wrap;
        text-align: center;
    }

    .mainbar {
        flex-wrap: wrap;
    }

    .boxes {
        margin-bottom: 30px;
    }

    .dis {
        width: 80%;
    }

    .dis_title>span {
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }

    .mission {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
}

.icon_sep>i {
    margin-left: 20px;
}

.navbar {
    margin-top: 10px;
}

li {
    list-style-type: none;
    padding: 8px 20px;
}

.dis_title {
    text-align: center;
    font-size: 36px;
    font-weight: 550;
    margin-top: 80px;
}

.dis {
    width: 70%;
    margin: 50px auto;
}

div>p {
    color: #666666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    line-height: 25px;
    margin-top: 20px;
}

.serv {
    justify-content: space-around;
    flex-wrap: wrap;
    background: rgb(36, 81, 242);
    padding: 100px;
    margin: 50px 0px;
    text-transform: uppercase;
    font-weight: 550;
}

.cen {
    text-align: center;
    color: white;
}

.centi {
    justify-content: flex-start;
    margin-left: 40px;
}

.boxes {
    width: 350px;
    padding: 40px;
    text-align: center;
    box-shadow: inset;
    box-shadow: 0 0 20px 5px #0000002e;
}

.boxes_des {
    color: #316DC3;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 600;
}

.msn_des {
    color: #316DC3;
    font-size: 18px;
    margin-left: 15px;
    font-weight: 600;
}

.extra_ser {
    background: #66666605;
    width: 350px;
    margin: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: beige;
    box-shadow: inset;
    box-shadow: 10 20 30 40;
    box-shadow: 0 0 3px 2px #0000000c;
}

.footer {
    background-color: rgb(37, 39, 46);
    color: rgba(245, 245, 245, 0.534);
    padding: 100px;
}